.reveal blockquote p code {
    color: #4488cc
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 5px auto;
    padding: 5px;

    font-style: italic;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    font-size: 25px;
    display: inline-block;
}

.reveal .exercise {
    font-size: 80%;
}

.reveal blockquote ul li {
    font-size: 25px;
}

.reveal blockquote ul li code {
    color: #4488cc;
}

button.link {
    background:none;
    border:none;
    font-size:18px;
    cursor:pointer;
    color:#3b759e;
    text-decoration: underline;
}

.description {
    text-align:left;
    color:#555555;
}
