.reveal blockquote p code {
    color: #4488cc
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 5px auto;
    padding: 5px;

    font-style: italic;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    font-size: 25px;
    display: inline-block;
}

.reveal .exercise {
    font-size: 80%;
}

.reveal blockquote ul li {
    font-size: 25px;
}

.reveal blockquote ul li code {
    color: #4488cc;
}

button.link {
    background:none;
    border:none;
    font-size:18px;
    cursor:pointer;
    color:#3b759e;
    text-decoration: underline;
}

.description {
    text-align:left;
    color:#555555;
}
#back-to-outline {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 130px;
    height: 130px;
}
/* largely stolen from http://meta.superuser.com/questions/4788/css-for-the-new-kbd-style */
.reveal kbd
{
    -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background: rgba(255, 255, 255, 0.50);
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family: "Anonymous Pro",monospace
    line-height:1;
    margin:0 .1em;
    padding:.05em .15em;
    text-shadow:0 1px 0 #fff;
}
