<!DOCTYPE html>
<html ng-app="slides">

  {% include head.html %}

  <body>
    <div class="reveal">
      <div class="slides">
        {{ content }}
      </div>
      <script src="{{ "/assets/reveal.js/lib/js/head.min.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "/assets/reveal.js/js/reveal.js" | prepend: site.baseurl }}"></script>
      <script>
        Reveal.initialize({
        history: true,
        dependencies: [
        {src: "{{ "/assets/reveal.js/plugin/markdown/marked.js" | prepend: site.baseurl }}"},
        {src: "{{ "/assets/reveal.js/plugin/markdown/markdown.js" | prepend: site.baseurl }}"},
        {src: "{{ "/assets/reveal.js/plugin/notes/notes.js" | prepend: site.baseurl }}"}
        ]});
      </script>
      <script type="text/javascript" src="{{ "/assets/prism.js" | prepend: site.baseurl }}"></script>
      <script type="text/javascript" src="{{ "/assets/prism.clojure.js" | prepend: site.baseurl }}"></script>
      <script type="text/javascript" src="{{ "/assets/angular-1.4.5/angular.min.js" | prepend: site.baseurl }}"></script>
      <script type="text/javascript" src="{{ "/assets/angular-1.4.5/angular-sanitize.min.js" | prepend: site.baseurl }}"></script>
      <script type="text/javascript" src="{{ "/assets/script.js" | prepend: site.baseurl }}"></script>
    </div>
    <a id="back-to-outline" href="/curriculum/#/1"></a>
  </body>
</html>
