<!DOCTYPE html>
<html ng-app>

  {% include head.html %}

  <body>
    <div class="reveal">
      <div class="slides">
        {{ content }}
      </div>
      <script src="{{ "/assets/reveal.js/lib/js/head.min.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "/assets/reveal.js/js/reveal.js" | prepend: site.baseurl }}"></script>
      <script>
        Reveal.initialize({
        history: true,
        dependencies: [
        {src: "{{ "/assets/reveal.js/plugin/markdown/marked.js" | prepend: site.baseurl }}"},
        {src: "{{ "/assets/reveal.js/plugin/markdown/markdown.js" | prepend: site.baseurl }}"},
        {src: "{{ "/assets/reveal.js/plugin/notes/notes.js" | prepend: site.baseurl }}"}
        ]});
      </script>
      <script type="text/javascript" src="{{ "/assets/prism.js" | prepend: site.baseurl }}"></script>
      <script type="text/javascript" src="{{ "/assets/prism.clojure.js" | prepend: site.baseurl }}"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </div>
  </body>
</html>
